<table class='contacts, table'>
  <tr>
    <th class='name'>First</th>
    <th class='name'>Last</th>
    <th class='email'>Email</th>
    <th class='phone-number'>Mobile</th>
    <th class='phone-number'>Landline</th>
    <th class='twitter-id'>Twitter</th>
    <th class='thumb-image'>Avatar</th>
    <th class='link'></th>
    <th class='link'></th>
    <th class='link'></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email_address %></td>
    <td><%= contact.mobile_number %></td>
    <td><%= contact.landline_number %></td>
    <td><%= contact.twitter_account %></td>
    <td><%= image_tag contact.avatar.url(:thumb) %></td>
    <td><%= link_to 'Show', contact, :class => 'link' %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact), :class => 'link' %></td>
    <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_contact, link' %></td>
  </tr>
<% end %>
</table>



