<%= form_for @contact, :html => { :multipart => true } do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :landline_number %>
    <%= f.text_field :landline_number %>
  </div>
  <div class="field">
    <%= f.label :twitter_account %>
    <%= f.text_field :twitter_account %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
