<h1>Search for contacts</h1>

<div>
  <%= form_tag search_contacts_path, :method => 'get', :class => 'navbar-form pull-left' do %>
    <%= text_field_tag :search, params[:search], :placeholder => 'Enter last name', :class => 'span2' %>
    <%= submit_tag "Search", :class => 'btn'%>
  <% end %>
</div>

<br/>
<br/>

<p>
  <% if !@contacts.empty? %>
    <%= render 'contacts' %>
  <% else %>
    No Search results
  <% end %>
</p>

<%= link_to 'Back', contacts_path %>
