<p id="notice"><%= notice %></p>

<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>

<div class="row">
  <div class="span2"><b class="label-medium">Email address</b></div>
  <div class="span10"><%= @contact.email_address %></div>
</div>

<div class="row">
  <div class="span2"><b class="label-medium">Mobile</b></div>
  <div class="span10"><%= @contact.mobile_number %></div>
</div>

<div class="row">
  <div class="span2"><b class="label-medium">Landline</b></div>
  <div class="span10"><%= @contact.landline_number %></div>
</div>

<div class="row">
  <div class="span2"><b class="label-medium">Twitter</b></div>
  <div class="span10"><%= @contact.twitter_account %></div>
</div>

<div class="row">
  <div class="span2"><b class="label-medium">Photo</b></div>
  <div class="span10"><%= image_tag @contact.avatar.url(:thumb) %></div>
</div>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
